/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
 body {
     margin-top: 0;
 }
 #navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    border: 0;
    top: 0;
    z-index: 10;
    position: fixed;
    min-width: auto;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(60,65,70,0.1);
}

body.toolbar-fixed #navbar {
    padding-top: 39px;
}

#edit-keys {
    border-color: #3c4144;
    background-color: #3c4144;
    box-shadow: none;
    color: #fff;
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    /* border: 1px solid var(--black-200); */
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-left: 0;
}
.main-container {
    width: 100%;
    max-width: 100%;
}

div[role="heading"] {
    box-sizing: border-box;
    background-color: #0077c0;
    background-image: linear-gradient(#257dba, #57aee2);
    background-position: center left;
    background-repeat: repeat;
    background-size: auto;
    border-bottom: 0;

    min-height: 70px;

    padding-left: 8px;
    padding-right: 8px;

}

#block-bootstrap-answers-main-menu ul.menu--main > li{
    clear: both;
}

.navbar-header {
    background-color: black;
}

.navbar-header {
    height: 50px;
}

.region-navigation > .search-block-form {
    padding-left: 32px;
    width: 70%;
    float: left;
    padding: .6em .7em;
    padding-top: 0.6em;
    padding-right: 0.7em;
    padding-bottom: 0.6em;
    /* padding-left: 0.7em; */
}

ul.menu--account.nav.navbar-nav.navbar-right {
   height: 50px;
   margin-right: 8px;
   margin-top: 10px;
}

ul.menu--account.nav.navbar-nav.navbar-right > li {
    /* /* max-height: 32px; */
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
ul.menu--account.nav.navbar-nav.navbar-right > li > a {

    /* height: 35px; */
}



nav ul.menu--main, nav ul.menu--main > li {
    width: 100%;
}
nav ul.menu--main > li > a, nav ul.menu--main > li > span {
    padding: 4px 4px 4px 8px;
    margin: 0;

    display: block;
    line-height: 1.8;
    font-size: 13px;
}
nav ul.menu--main > li > a.is-active {
    font-weight: bold;
    background: var(--black-050);
    color: var(--black-900);
    border-right: 3px solid #0077c0;
}

.region-sidebar-first {
    padding-top: 24px;
    flex-shrink: 0;
    z-index: 1000;
    box-shadow: 0 0 0 rgba(12,13,14,0.05);
    transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
    position: relative !important;
    /* top: 50px; */
    max-height: calc(100vh - 50px);
}

aside {
    background-color: rgb(239, 240, 241);
    padding: 0 !important;
    height: calc(100vh - 120px);
    width: 164px !important;
    border-right-color: rgb(36, 39, 41);

}


.region-footer {
    background-color: lightgray;
}
footer.footer {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    width: 100%;
}
.row > section {
    max-width: 1100px;
    width: calc(100% - 164px);
    border-radius: 0;
    border-left: 1px solid #d6d9dc;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    padding: 24px;
    box-sizing: border-box;
    min-height: calc(100vh - 120px) !important;
}

body.path-frontpage h1 {
    display: none;
}

.region-header > a.logo {
    margin-top: 9px;
}
#block-navlogo {
    width: 123px;
    display: inline-block;
    float: left;
    max-height: 50px;
    border: 0;
    padding-top: 17px;
}
#block-navlogo  h2 {
    display: none;
}

#block-navlogo  a {
    box-sizing: content-box;
    padding: 0 8px;
    /* margin-left: 3px; */
    height: 100%;
    flex: 1 0 auto;
    /* display: flex; */
    align-items: center;
    background-color: transparent;
    transition: background-color cubic-bezier(.165, .84, .44, 1) .25s;
}

.main-container {
    padding-top: 50px;
}

#block-bootstrap-answers-search button[type="submit"] {
    border-color: #3c4144;
    background-color: #3c4144;
    /* box-shadow: none; */
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-left: 0;
}

#block-bootstrap-answers-account-menu  ul.menu--account a.btn-info {
    color: #00578d !important;
    background-color: #cce4f2;
    border-color: #00578d;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.7);

}

#block-bootstrap-answers-account-menu  ul.menu--account a.btn-info:hover {
    color: #00385a;
    background-color: #b3d6ec;
}


#block-bootstrap-answers-account-menu  ul.menu--account a.btn-primary {
    color: white;
    background-color: #0077c0;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4);
}

#block-bootstrap-answers-account-menu  ul.menu--account a.btn-link {
    color: white;
    /* background-color: #0077c0; */
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4);
}

#block-bootstrap-answers-account-menu  ul.menu--account a.btn-primary:hover {
    color: white;
    background-color: #0067a7;
}

#block-bootstrap-answers-account-menu  ul.menu--account a.btn-sm {

    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: .8em;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

a.logo > img {
    height: 57px;
}
body.path-frontpage h1 {
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
}
